* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garante que padding e bordas não aumentem a largura/altura total dos elementos */
}

.header{
    background-color: #3F198F;
    height: 55px;
}

.title{

    font-size: 50px;
    padding-left: 100px;
    padding-top: 130px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.btn-avaliacao{
    border: none;
    background-color: rgb(243, 186, 43);
    width: 340px;
    height: 62px;
    margin-left: 100px;
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.btn-avaliacao:hover{
    background-color: rgb(179, 138, 35);
}

.nav-links{
    display: flex;
    list-style: none;
    margin-left: 1090px;
    
}

.navitem{
    margin-right: 20px;
    padding-top: 1px;  
    
}

.navitem a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    
}